*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 100%;
    color: #333;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: default;
}
img{
    cursor: grab;
}
.container{
    width: 80%;
    max-width: 1204px;
    margin: 0 auto;
}
.flex-container{
    display: flex;
    justify-content: space-between;
}
 h1{
    text-align: center;
    padding-bottom: 30px;
    font-size: 40px;
}
h2{
    font-size: 20px;
    letter-spacing: 1px;
}

.header{
    width: 100%;
    align-items: center;
    padding: 20px 0;
}
.logo{
    width: 20%;
}
.logo-img{
    width: 50%;
    line-height: 0;
}
.logo-img img{
    width: 100%;
}
.information{
    width: 35%;
    align-items: center;
}
.phone-info{
    width: 40%;
}
.phone-info ul li{
    line-height: 25px;
    list-style: none;
}
.phone-info i{
    font-size: 20px;
    padding-right: 5%;
}
.phone-info li:last-child i{
    font-size: 25px;
    padding-right: 5%;
}
.email-info{
    width: 53%;
    line-height: 25px;
}
.email-info i{
    font-size: 20px;
    padding-right: 5%;
}
.social{
    width: 60%;
    padding-top: 5px;
}
.facebook,.twitter,.google,.youtube{
    width: 25%;
}
.social i{
    font-size: 25px;
}

/* nav start*/
.nav-bg{
    background-color: #B32E00;
}
.bars-icon{
    display: none;
}
.nav{
    width: 60%;
}
.nav .nav-bar{
    width: 100%;
}
.nav-bar li{
    width: 120px;
    height: 60px;
    list-style: none;
    text-transform: uppercase;
    line-height: 60px;
    text-align: center;
    letter-spacing: 1px;
}
.nav-bar li:nth-child(4) {
    width: 150px;
}
.nav-bar li a {
    color: #fff;
    text-decoration: none;
    display: block;
    transition: 0.4s ease;
    position: relative;
}
.nav-bar li a:hover{
    font-weight: bolder;
}
.search-btn{
    width: 20%;
    align-self: center;
}
.search-btn .button {
    width: 80%;
}
.search-btn .button input{
    width: 100%;
    height: 30px;
    background: #fff;
    /* border-radius: 8px; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    border:none;
}
.search-btn .button input:focus{
    outline:none;
}
.search-icon{
    width: 20%;
    /* align-self: center;
    text-align: center; */
}
.search-icon button{
    border:none;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: none;
    background: #000;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
}
.search-btn i{
    color: #fff;
    transform: scale(1.0);
}
.search-btn i:hover{
    transform: scale(1.1);
    cursor: pointer;
}
/* nav end */
/* bg-color */
.bg-color{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 80px 0;
}
.para_p{
    width: 15%;
    margin: 0 auto;
    position: relative;
}
.para_p p{
    padding: 0 10px;
}
.para_p p:first-child::after{
    position: absolute;
    content: "";
    height: 20px;
    transform: rotate(30deg);
    margin:  0 20px;
    border: 2px solid #B32E00;
}
/* bg-color */
/* location start */
.location{
    width: 100%;
    padding: 80px 0;
}
.location-map-para{
    width: 100%;
    padding: 30px 0;
}
.location-map{
    width: 50%;
}
.location-map-img{
    width: 90%;
    line-height: 0;
    margin: 0 auto;
}
.location-map-img img{
    width: 100%;
}
.location-para{
    width: 48%;
    align-self: center;
}
.location-para h2{
    position: relative;
    padding-left: 15px;
}
.location-para h2::before{
    position: absolute;
    content: "";
    border: 2px solid #B32E00;
    height: 20px;
    left: 0;
}
.para{
    padding: 20px 0;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 23px;
}
.para p:first-child{
    padding-bottom: 10px;
}
/* location end */
/* contactus-timetable start */
.contactus-timetable{
    width: 100%;
    padding-bottom: 100px;
}
.contact-date{
    width: 100%;
}
.contact-form{
    width: 48%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}
.contact-form input,textarea{
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border:none;
    box-shadow: 1px 1px 5px grey;
}
.contact-form textarea {
    resize: none;
    height: 100px;
}
.contact-form .button{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
}
.contact-form .button button{
    width: 150px;
    height: 40px;
    text-transform: uppercase;
    border-radius: 10px;
    border:none;
    background-color: #B32E00;
    color: #fff;
    transform: scale(1.0);
    font-weight: bolder;
    transition: 0.4s ease;
}
.contact-form .button button:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.timetable{
    width: 48%;
}
.timetable h3{
    padding: 20px 0;
}
.opening h4{
    line-height: 25px;
    position: relative;
    padding-left: 40px;
}
.closing h4{
    line-height: 25px;
    position: relative;
    padding-left: 40px;
}
.timetable .opening i{
    font-size: 30px;
    position: absolute;
    left: 0;
    bottom: -20px;
}
.timetable .closing i{
    font-size: 30px;
    position: absolute;
    left: 0;
}
/* contactus-timetable end */
/* delivery start */
.delivery{
    width: 100%;
    padding-bottom: 100px;
}
.delivery-photo{
    width: 48%;
}
.delivery-img{
    width: 100%;
    line-height: 0;
}
.delivery-img img{
    width: 100%;
}
.delivery-into{
    width: 48%;
    align-self: center;
}
.delivery-into p{
    width: 80%;
}
.delivery-into ul{
    padding: 30px 0;
}
.delivery-into ul li{
    list-style: none;
    padding-left: 40px;
    position: relative;
    line-height: 30px;
}
.delivery-into ul i{
    font-size: 25px;
    position: absolute;
    left: 0;
}
.social-icons{
    width: 30%;
}
.social-icons i{
    font-size: 30px;
    transform: scale(1.0);
}
.social-icons i:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.facebook-icon{
    width: 25%;
}
.twitter-icon{
    width: 25%;
}
.google-icon{
    width: 25%;
}
.youtube-icon{
    width: 25%;
}
/* delivery end */
/* summary start */
.summary-bg{
    background-color: #000;
}
.summary{
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 50px 0 30px;
}
.summary-logo{
    width: 15%;
    margin: 0 auto;
    line-height: 0;
}
.summary-logo img{
    width: 100%;
}
.summary-nav{
    width: 55%;
    margin: 0 auto;
    padding: 30px 0 20px; 
}
.summary-nav li{
    width: 120px;
    list-style: none;
    text-transform: uppercase;
}
.summary-nav li a{
    text-decoration: none;
    color: #fff;
    display: block;
}
.summary-nav li:hover{
    font-weight: bolder;
    cursor: pointer;
}
.summary-nav li:nth-child(4){
    width: 150px;
}
.summary p{
    font-style: italic;
    letter-spacing: 1px;
}
/* summary end */
#arrow-up{
    padding: 10px;
    background: #B32E00;
    border: none;
    border-radius: 5px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    box-shadow: 0px 0px 10px #000;
    z-index: 1;
}
#arrow-up i{
    font-size: 20px;
    color: #fff;
}
#arrow-up i:hover{
    transform: scale(1.1);
}
/* responsive start */
@media screen and (max-width: 767px){
    .container{
        width: 100%;
        padding: 0 calc(20/750 *100vw);
    }
    .flex-container{
        display: block;
    }
    p{
        font-size: calc(28/750 *100vw);
        letter-spacing: calc(2/750 *100vw);
    }
    h1{
        font-size: calc(50/750 *100vw);
        padding: calc(40/750 *100vw) 0;
    }
    h2{
        font-size: calc(40/750 *100vw);
    }
    h3{
        font-size: calc(35/750 *100vw);
    }
    h4{
        font-size: calc(30/750 *100vw);
    }
    #arrow-up{
        padding: calc(
            20/750 *100vw);
        border-radius: calc(
            10/750 *100vw);
        bottom: calc(
            30/750 *100vw);
        right: calc(
            30/750 *100vw);
    }
    #arrow-up i{
        font-size: calc(
            40/750 *100vw);
    }
    /* header start */
    .header {
        display: flex;
        justify-content: space-between;
        padding: calc(40/750 *100vw) 0; 
    }
    .logo {
        width: 40%;
    }
    .logo-img {
        width: 80%;
        line-height: 0;
    }
    .information {
        width: 60%;
        align-items: center;
    }
    .phone-info ul li {
        line-height: calc(50/750 *100vw);
        list-style: none;
        font-size: calc(28/750 *100vw)
    }
    .phone-info {
        width: 100%;
    }
    .phone-info i {
        font-size: calc(40/750 *100vw);
        padding-right: calc(20/750 *100vw);
    }
    .phone-info li:last-child i {
        font-size:calc(50/750 *100vw);
        padding-right: calc(20/750 *100vw);
    }
    .email-info {
        width: 100%;
        line-height: 25px;
    }
    .email-info i {
        font-size: calc(40/750 *100vw);
        padding-right: calc(20/750 *100vw);
    }
    .social {
        display: none;
    }
    /* header end */
    .bars-icon{
        display: block;
        color: #fff;
    }
    .bars-icon i{
        font-size: calc(40/750 *100vw);
        padding: calc(20/750 *100vw) calc(20/750 *100vw);
    }
    .nav {
        width: 100%;
    }
    .nav-bar li {
        width: fit-content;
        height: calc(120/750 *100vw);
        line-height: calc(120/750 *100vw);
        text-align: left;
        padding-left: calc(40/750 *100vw);
        letter-spacing: calc(2/750 *100vw);
        font-size: calc(30/750 *100vw);
    }
    .nav-bar li:nth-child(4) {
        width: 100%;
    }
    .search-btn {
        display: none;
    }
    .bg-color {
        background-color: #000;
        color: #fff;
        text-align: center;
        padding: calc(50/750 *100vw) 0 calc(100/750 *100vw);
    }
    .para_p {
        width: 50%;
        margin: 0 auto;
        position: relative;
        display: flex;
    }
    .para_p p {
        padding: 0 ;
    }
    .para_p p:first-child::after {
        position: absolute;
        content: "";
        height: calc(40/750 *100vw);
        transform: rotate(30deg);
        margin: calc(-6/750 *100vw) calc(40/750 *100vw);
        border: calc(4/750 *100vw) solid #B32E00;
    }
    /* location start */
    .location {
        padding: calc(100/750 *100vw) 0 0;
    }
    h1 {
        font-size: calc(50/750 *100vw);
    }
    .location-map-para {
        padding: calc(40/750 *100vw) 0;
    }
    .location-map {
        width: 100%;
    }
    .location-map-img {
        width: 100%;
    }
    .location-para {
        width: 100%;
    }
    .location-para h2 {
        padding-left: calc(30/750 *100vw);
        padding-top: calc(50/750 *100vw);
    }
    .location-para h2::before {
        border: calc(4/750 *100vw) solid #B32E00;
        height: calc(40/750 *100vw);
    }
    .para {
        padding: calc(40/750 *100vw) 0 0;
        letter-spacing: calc(2/750 *100vw);
        line-height: calc(46/750 *100vw);
    }
    .para p:first-child {
        padding-bottom: calc(20/750 *100vw);
    }
    /* location end */
    /* contact-timetable start */
    .contactus-timetable {
        padding: calc(40/750 *100vw) 0 calc(150/750 *100vw);
    }
    .contact-form {
        width: 100%;
        margin: 0;
        padding: calc(40/750 *100vw) 0;
    }
    .contact-form input, textarea {
        width: 70%;
        margin: 0 auto;
        padding: calc(20/750 *100vw);
        margin: calc(20/750 *100vw) 0;
        border-radius: calc(10/750 *100vw);
        border: none;
        box-shadow: calc(2/750 *100vw) calc(2/750 *100vw)  calc(10/750 *100vw)  grey;
    }
    .contact-form input::placeholder,textarea::placeholder{
        font-size: calc(28/750 *100vw);
    }
    .contact-form textarea {
        height: calc(200/750 *100vw);
    }
    .contact-form .button {
        width: 70%;
        padding-top: 0;
    }
    .contact-form .button button {
        width: calc(300/750 *100vw);
        height: calc(80/750 *100vw);
        border-radius: calc(20/750 *100vw);
        font-size: calc(28/750 *100vw);
    }
    .timetable {
        width: 100%;
    }
    .timetable h3 {
        padding: calc(100/750 *100vw) 0 calc(20/750 *100vw);
    }
    .opening h4 {
        line-height: calc(50/750 *100vw);
        padding-left: calc(80/750 *100vw);
    }
    .timetable .opening i {
        font-size: calc(60/750 *100vw);
        bottom: calc(-40/750 *100vw);
    }
    .closing h4 {
        line-height: calc(50/750 *100vw);
        padding-left: calc(80/750 *100vw);
    }
    .timetable .closing i {
        font-size: calc(60/750 *100vw);
    }
    /* contact-timetable end */
    /* delivery start */
    .delivery {
        padding-bottom: calc(100/750 *100vw);
    }
    .delivery-photo {
        width: 100%;
    }
    .delivery-into {
        width: 100%;
    }
    .delivery-into p {
        width: 100%;
        padding-top: calc(40/750 *100vw);
    }
    .delivery-into ul {
        padding: 0;
        padding: calc(40/750 *100vw) 0;
    }
    .delivery-into ul li {
        padding-left:calc(80/750 *100vw);
        line-height: calc(60/750 *100vw);
        font-size: calc(28/750 *100vw);
    }
    .delivery-into ul i {
        font-size:calc(50/750 *100vw);
    }
    .social-icons {
        width: 50%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .social-icons i {
        font-size: calc(60/750 *100vw);
        transform: scale(1.0);
        text-align: center;
    }
    /* delivery end */
    /* summary start */
    .summary {
        padding: calc(100/750 *100vw) 0 calc(60/750 *100vw);
    }
    .summary-logo {
        width: calc(300/750 *100vw);
    }
    .summary-nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        padding: calc(50/750 *100vw) 0 calc(20/750 *100vw);
    }
    .summary-nav li {
        width: calc(200/750 *100vw);
        font-size: calc(24/750 *100vw);
    }
    .summary-nav li:nth-child(2){
        width: calc(300/750 *100vw);
    }
    .summary-nav li:nth-child(3){
        width: calc(300/750 *100vw);
    }
    .summary-nav li:nth-child(4){
        width: calc(360/750 *100vw);
    }
    .summary-nav li:nth-child(5){
        width:calc(360/750 *100vw);
    }
    .summary p {
        font-size:  calc(28/750 *100vw);
        letter-spacing: calc(2/750 *100vw);
    }
    /* summary end */
}
/* responsive end */
@media screen and (min-width: 768px) and (max-width: 1334px){
    .information {
        width: 65%;
        align-items: center;
    }
    .nav {
        width: 75%;
    }
    .nav-bar li {
        width: 120px;
        height: 60px;
        list-style: none;
        text-transform: uppercase;
        line-height: 60px;
        text-align: center;
        letter-spacing: 1px;
        font-size: 14px;
    }
    .nav-bar li:last-child {
        width: 150px;
    }
    .search-btn {
        width: 20%;
    }
    .search-btn .button input {
        width: 100%;
    }
    .search-btn i {
        font-size: 15px;
        color: #fff;
    }
    .para_p {
        max-width: 220px;
        width: 28%;
        margin: 0 auto;
        position: relative;
    }
    .para_p p:first-child::after {
        height: 20px;
        margin: 0 35px;
        max-width: 100px;
        border: 2px solid #B32E00;
    }
    /* social-icons */
    .social-icons {
        width: 40%;
    }
    /* social-icons */
    /* summary */
    .summary-nav {
        width: 80%;
    }
    /* summary */
}
@media screen and (min-width:1441px) {
    .para_p {
        max-width: 220px;
        width: 28%;
        margin: 0 auto;
        position: relative;
    }
}
/* responsive end */